/* -----Footer----- */
.page-container{
    position: relative;
}
.footer {
    background-color: #ffffff;

    width: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
    grid-area: footer;
    position: absolute;
    bottom: -20em;
    height: 5rem;   
    opacity: 80%;
    z-index: 900;
}

.footer:hover{
    opacity: 100%;
}

.footer .icons{
    position: relative;
    display: flex;
    flex-flow: row;
    justify-content: first baseline;
    align-items: flex-end;
    
    width: 100%;
    z-index: 10;
    
}

.footer .icons svg{
    top: 20px;
    width: 3rem;
    margin-left: 3em;
    margin-top: 1em;
}
    