.blog-container-home{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    position: relative;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: 'Montserrat', sans-serif;
    background-color: #242323;
    margin-top: 5em;
    padding: 5em 0 5em 0;
    
}

.blog-container-home .blog-card{
    /* margin: 3em;
    max-width: 480px;
    max-height: 560px; */
    margin: 4em 3em 0 3em;
    transform: scale(-0.9) rotate(180deg);
    background-color: rgb(221, 221, 221);

}
.blog-title-home{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.blog-title-home h2{
    transform: translateY(-75%);
    font-size: 3em;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: rgb(233, 233, 233);
}
    

@media screen and (max-width: 768px){
    .blog-container-home{
        display:flex;
        flex-flow: row wrap;
        justify-content: center;
        position: relative;
        /* font-family: Georgia, 'Times New Roman', Times, serif; */
        font-family: 'Montserrat', sans-serif;
        background-color: #242323;
        margin-top: 5em;
        padding: 15em 0 5em 0;
        
    }
    
    .blog-container-home .blog-card{
        /* margin: 3em;
        max-width: 480px;
        max-height: 560px; */
        margin: 2em 0em 0 0em;
        transform: scale(-0.8) rotate(180deg);
        background-color: rgb(221, 221, 221);
    
    }
    .blog-title-home{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }
    .blog-title-home h2{
        transform: translateY(-115%);
        font-size: 3em;
        font-weight: 700;
        letter-spacing: 0.1em;
        color: rgb(233, 233, 233);
        margin-bottom: 1em;
    }
}
