

/* ------------------------About------------------------ */
#about{
    text-align: center;
    overflow-x: hidden;
    padding: 2% 0 0 0 ;
    font-family: 'Montserrat', sans-serif;
  }
  
  #about img{
    width: 60%;
    /* padding: 10%; */
    border-radius: 4em;
  }
  
  #about .intro{
    font-weight: 500;
  }
  
  #about .about-text{
    letter-spacing: 0.2em;
    line-height: 2em;
    font-size: 1.4rem;
    font-weight: 400;
    color: #666361;
    text-align: left;
    margin: 2em 17em 2em 17em;
  }
  .about-nav-icons{
    display: none;
  }
  @media screen and (max-width: 1100px){
    #about .about-text{
      margin: 2em 10em 2em 10em;
    }
    .about-nav-icons{
      position: relative;
      display: flex;
      justify-content: space-between;
      opacity: 0.8;
    }
    .about-nav-icons svg{
      width: 2.5rem;
      padding-top: 2em;
      margin: 1rem 2rem 0 2rem;
    }
  }
  
  @media screen and (max-width: 768px){
    .body{
      overflow-x: hidden;
    }
    .root{
      overflow-x: hidden;
    }
    .page-container{
      /* overflow-x: hidden; */
    }
    #about{
      text-align: center;
      
      padding: 3% 0 0 0 ;
    }
    
    #about img{
      width: 90%;
      /* padding: 10%; */
      border-radius: 2em;
    }
    
    #about .intro{
      font-weight: 500;
    }
    
    #about .about-text{
      padding: 10% 4% 2% 4%;
      margin: 0 0 0 1em;
      letter-spacing: 0.2em;
      line-height: 2em;
      font-size: 1rem;
      font-weight: 400;
      width: 90%;
    }

  

      
      
  }


  /* ------------------------Blog------------------------ */

  .blog-container{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    position: relative;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: 'Montserrat', sans-serif;
    background-color: #333;
    padding-bottom: 15em;
    padding-top: 8em;
}
/* .current-post-container{
    position: relative;
    top: 10%;
} */

.blog-card{
    
    position: relative;
    width: 440px;
    height: 600px;
    margin: 30px 70px 30px 70px;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.02),
  0 6.7px 5.3px rgba(0, 0, 0, 0.028),
  0 12.5px 10px rgba(0, 0, 0, 0.035),
  0 22.3px 17.9px rgba(0, 0, 0, 0.042),
  0 41.8px 33.4px rgba(0, 0, 0, 0.05),
  0 100px 80px rgba(0, 0, 0, 0.07)
;

    border-radius: 3%;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    text-align: center;
    cursor: pointer;
    transition: 1s;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);

    /* box-shadow: -2px -7px 120px 13px rgba(155, 154, 154, 0.65) inset;
    -webkit-box-shadow: -2px -7px 120px 13px rgba(165, 164, 164, 0.65) inset;
    -moz-box-shadow: -2px -7px 120px 13px rgba(153, 153, 153, 0.65) inset; */
}
.blog-card:hover .hover-card{
    opacity: 0.6;
}
.blog-card:hover{
    opacity: 0.6;
}

.hover-card{
    background-color: rgb(124, 124, 124);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    text-align: center;
    color: blanchedalmond;
    transition: .8s ease-in-out;
    z-index: 500;
    
}
.hover-card h1{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 5em;
}
.img-container{
    position: relative;
    height: 70%;
}
.text-container{
    position: relative;
    height: 30%;
    background-color: #333;
}    

.img-container img{
    position: relative;
    top: 0;
    height: 100%;
    width: auto;
    left: 50%;
    /* height: 70%; */
    transform: translatex(-50%);
    /* transform: translateY(25%); */
    /* display: none; */
    
}
.blog-card h2{
    color: rgb(199, 199, 199);
    font-size: 1.8em;
    transform: translateY(50%);
    
}
.blog-card p{
    margin: 0 60px 10px 60px;
    padding: 2em 0 2em 0;
    font-size: 1em;
    font-weight: 500;
    /* margin: 2.4em; */
    white-space: pre-line;
    letter-spacing: 0.2em;
    text-align: left;
    color: rgb(144, 144, 144);
}

.blog-card:after {
    content  : "";
    position : absolute;
    z-index  : 1;
    bottom   : 0;
    left     : 0;
    pointer-events   : none;
    background-image : linear-gradient(to bottom, 
                       rgba(58, 58, 58, 0.2), 
                      rgb(54, 54, 54) 90%);
    width    : 100%;
    height   : 4em;
    
  }

.current-post{
    position: absolute;
    top: 4em;
    left: 50%;
    transform: translateX(-50%);
    /* transform: translate(-50%, -32%); */
    width: 70%;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: azure;
    padding: 2em ;
    margin: 2em 2em 2em 2em ;
    
}

.current-post img{
    position: relative;
    flex: 1;
    width: 100%;
    height: auto;
    margin: 0 0 4em 0;
    
    
}
.blog-text{
    flex:1;
    white-space: pre-line;
}
.blog-text h1{
    color: #b3aca7;
    padding-top: 4%;
}
.blog-text p{
    font-size: 1em;
    font-weight: 400;
    margin: 4em;
    padding: 0 3em 0 3em;
    letter-spacing: 0.2em;
    text-align: left;
    line-height: 1.5em;
    

}
.close{
    position: absolute;
    top: 15px;
    right: 18px;
    transform: scale(3);
    color: #b3aca7;
    cursor: pointer;
}



.grey-out{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width:100%;
    height:300%;
    background-color: rgb(13, 13, 13);
    opacity: 0.7;
}
.current-post-container{
    margin: 0 0 90em 0;
}

@media screen and (max-width: 1030px){
  .current-post{
    position: absolute;
    top: 0em;
    left: 50%;
    transform: translateX(-55%);
    /* transform: translate(-50%, -32%); */
    width: 80%;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: azure;
    padding: 2em ;
    margin: 2em 2em 2em 2em ;
    
}
.blog-text p{
  font-size: 1.2em;
  font-weight: 400;
  margin: 1em;
  padding: 1em 2em 0 2em;
  letter-spacing: 0.2em;
  text-align: left;
  line-height: 1.5em;
}
  


.current-post img{
    position: relative;
    flex: 1;
    width: 100%;
    height: auto;
    margin: 0 0 4em 0;
    
    
}
}
@media screen and (max-width: 800px){
  .current-post{
    position: absolute;
    top: 0em;
    left: 50%;
    transform: translateX(-54%);
    /* transform: translate(-50%, -32%); */
    width: 90%;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: azure;
    padding: 2em ;
    margin: 2em 2em 2em 2em ;
  }
  .blog-text p{
    font-size: 1.2em;
    font-weight: 400;
    margin: 1em;
    padding: 1em 1em 0 1em;
    letter-spacing: 0.2em;
    text-align: left;
    line-height: 1.5em;
  }
    
}
@media screen and (max-width: 687px){
  .blog-card{
    
    position: relative;
    width: 340px;
    height: 600px;
    margin: 30px 70px 30px 70px;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.02),
  0 6.7px 5.3px rgba(0, 0, 0, 0.028),
  0 12.5px 10px rgba(0, 0, 0, 0.035),
  0 22.3px 17.9px rgba(0, 0, 0, 0.042),
  0 41.8px 33.4px rgba(0, 0, 0, 0.05),
  0 100px 80px rgba(0, 0, 0, 0.07)
;

    border-radius: 5%;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    text-align: center;
    cursor: pointer;
    transition: 1s;
    background-color: rgb(221, 221, 221);
    
    /* box-shadow: -2px -7px 120px 13px rgba(155, 154, 154, 0.65) inset;
    -webkit-box-shadow: -2px -7px 120px 13px rgba(165, 164, 164, 0.65) inset;
    -moz-box-shadow: -2px -7px 120px 13px rgba(153, 153, 153, 0.65) inset; */
}

.blog-text p{
  font-size: 0.8em;
  font-weight: 400;
  padding: 2em 0em 0 0em;
  margin: 0;
  letter-spacing: 0.2em;
  text-align: left;
  line-height: 1.5em;
  

}
  .current-post{
    position: absolute;
    top: 0em;
    left: 50%;
    transform: translateX(-59%);
    /* transform: translate(-50%, -32%); */
    width: 90%;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: azure;
    padding: 1em ;
    margin: 2em 2em 2em 2em ;
    
}

.current-post img{
    position: relative;
    flex: 1;
    width: 100%;
    height: auto;
    margin: 2em 0 2em 0;
    padding: 0;
    
    
}
}


  /* ------------------------Contact------------------------ */

  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #aca49c;
    font-size: 0.875em;
  }
  
  input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
    color: #bbb5af;
  }
  
  input::-moz-placeholder, textarea::-moz-placeholder {
    color: #aca49c;
    font-size: 0.875em;
  }
  
  input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
    color: #bbb5af;
  }
  
  input::placeholder, textarea::placeholder {
    color: #aca49c;
    font-size: 0.875em;
  }
  
  input:focus::placeholder, textarea::focus:placeholder {
    color: #bbb5af;
  }
  
  input::-ms-placeholder, textarea::-ms-placeholder {
    color: #aca49c;
    font-size: 0.875em;
  }
  
  input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
    color: #bbb5af;
  }
  
  /* on hover placeholder */
  
  input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }
  
  input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
    color: #cbc6c1;
  }
  
  input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }
  
  input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
    color: #cbc6c1;
  }
  
  input:hover::placeholder, textarea:hover::placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }
  
  input:hover:focus::placeholder, textarea:hover:focus::placeholder {
    color: #cbc6c1;
  }
  
  input:hover::placeholder, textarea:hover::placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }
  
  input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
    color: #cbc6c1;
  }
  
  body {
    font-family: 'Lato', sans-serif;
    
  }
  
  header {
    position: relative;
    margin: 100px 0 25px 0;
    font-size: 2.3em;
    text-align: center;
    letter-spacing: 7px;
    font-weight: 300;
  }
  
  #form {
    position: relative;
    width: 500px;
    margin: 50px auto 100px auto;
  }
  
  input {
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    
    background: transparent;
    outline: none;
    color: #726659;
    
    border: solid 1px #b3aca7;
    border-bottom: none;
    
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  
  input:hover {
    background: #b3aca7;
    color: #e2dedb;
  }
  
  textarea {
    width: 470px;
    max-width: 470px;
    height: 110px;
    max-height: 110px;
    padding: 15px;
    
    background: transparent;
    outline: none;
    
    color: #726659;
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    
    border: solid 1px #b3aca7;
    
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  
  textarea:hover {
    background: #b3aca7;
    color: #e2dedb;
  }
  
  #submit {
    width: 470px;
    
    padding: 0;
    margin: -5px 0px 0px 0px;
    
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    color: #b3aca7;
    
    outline:none;
    cursor: pointer;
    
    border: solid 1px #b3aca7;
    border-top: none;
  }
  
  #submit:hover {
    color: #e2dedb;
  }
  .form-loading{
    color: rgb(51, 51, 51);
    text-transform: none;
    background-color: #504f4f;
    pointer-events: none;
  }
  .form-sent-notification{
    position: absolute;
    background-color: #504f4f;
    height: 8em;
    width: 94%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3em;
  }
  .form-sent-notification p{
    padding: 2em;
    color: #fff;
    opacity: 0.7;
    font-size: 2em;
  }

  .lds-ring {
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 80px;
    left: 48%;
    top: 30%;
    transform: translate(-50%);
    display: none;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @media screen and (max-width: 1100px){
    #contact{
      height: 600px;
    }
    #contact #form{
      
      transform: scale(1.6) translateY(30%);
    }
  }
  @media screen and (max-width: 769px){
    #contact{
      height: 600px;
    }
    #contact #form{
      
      transform: scale(1.3) translateY(30%);
    }
  }
  @media screen and (max-width: 569px){
    #contact{
      height: 600px;
    }
    #contact #form{
      /* width: 100px; */
      transform: scale(0.9) translatex(-7%);
    }
  }
  @media screen and (max-width: 400px){
    #contact{
      height: 600px;
    }
    #contact #form{
      /* width: 100px; */
      transform: scale(0.8) translatex(-13%);
    }
  }
  @media screen and (max-width: 321px){
    #contact{
      height: 600px;
    }
    #contact #form{
      /* width: 100px; */
      transform: scale(0.68) translatex(-24%);
    }
  }

  @media screen and (max-width: 169px){
    .contact{
      overflow: hidden;
      width: 95%;
    }
    #form {
      position: relative;
      width: 356px;
      margin: 0;
    }
    
    input {
      font-family: 'Lato', sans-serif;
      font-size: 0.875em;
      width: 356px;
      height: 50px;
      padding: 0px 15px 0px 15px;
      
      background: transparent;
      outline: none;
      color: #726659;
      
      border: solid 1px #b3aca7;
      border-bottom: none;
      
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
    }
    
    input:hover {
      background: #b3aca7;
      color: #e2dedb;
    }
    
    textarea {
      width: 356px;
      max-width: 470px;
      height: 110px;
      max-height: 110px;
      padding: 15px;
      
      background: transparent;
      outline: none;
      
      color: #726659;
      font-family: 'Lato', sans-serif;
      font-size: 0.875em;
      
      border: solid 1px #b3aca7;
      
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
    }
    
    textarea:hover {
      background: #b3aca7;
      color: #e2dedb;
    }
    
    #submit {
      width: 356px;
      
      padding: 0;
      margin: -5px 0px 0px 0px;
      
      font-family: 'Lato', sans-serif;
      font-size: 0.875em;
      color: #b3aca7;
      
      outline:none;
      cursor: pointer;
      
      border: solid 1px #b3aca7;
      border-top: none;
    }
  }
  
  /* ------------------------Footer------------------------ */
  body{
    overflow-x: hidden;
  }
  .main-container{
    /* overflow-x: hidden; */
  }
  .page-container{
    position: relative;
    
}
.footer {
    background-color: #ffffff;

    width: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
    grid-area: footer;
    position: absolute;
    bottom: -20em;
    height: 5rem;   
    opacity: 0.8;
    z-index: 900;
}

.footer:hover{
    opacity: 1;
}

.footer .icons{
    position: relative;
    display: flex;
    flex-flow: row;
    justify-content: first baseline;
    align-items: flex-end;
    
    width: 100%;
    z-index: 10;
    
}

.footer .icons svg{
    top: 20px;
    width: 3rem;
    margin-left: 3em;
    margin-top: 1em;
}

  /* ------------------------Gallery------------------------ */

  body{
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    width: 100%;
    background-color: rgb(235, 235, 235);
  }
    

.image-list{
    margin: 2% 8% 0 8%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 9px 20px;
    position: relative;
    transition: 3s;
  
}

.image-list img{
    width: 100%;
}
.individual-picture{
    position:relative;
    transition: 1.5s;
    width: 100%;
    overflow-x: hidden;
  }
.individual-picture img{
  overflow-x: hidden;
}
    

.hover-album{
    position:absolute;
    
    width: 100%;
    height: 100%;
    
    overflow: hidden;
    background-color: rgb(180, 180, 180);
    text-align: center;
    opacity: 0;
    cursor: pointer;
    transition: 1s;
}

.hover-album p{
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    font-size: 5em;
    color: blanchedalmond;
    padding: 10%;
}



.individual-picture:hover .hover-album{
    opacity: 0.7;
    
}
.individual-picture:hover{
    transform: scale(1.04);
    z-index: 5;
}

.individual-album-picture{
    cursor: pointer;
}
.full-album{
  background-color: #333;
  padding-top: 4em;
  padding-bottom: 4em;
}
.full-album img{
    width: 100%;
}
.album-photo{
    position:absolute;
    
    width: 100%;
    height: 100%;
    
    overflow: hidden;
    background-color: rgb(180, 180, 180);
    text-align: center;
    opacity: 0;
    cursor: pointer;
    transition: 1s;
}
.album-photo p{
    visibility: hidden;
}
    
.black-out{
    position: absolute;
    /* background-color: black; */
    background-color:#333;

    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 1;
    visibility: hidden;
    overflow-x: hidden;
}
.img-container{
    
    position: relative;
    width: auto;
    height: 100%;
    text-align: center;
    z-index: 101;  
}

.open-image{
    max-width: 100%;
    height: 42%;
    z-index: 102;
    position: absolute;


}

.img-container img{
    height: 100%;
    width: auto;
    
    
}

.open-image i{
    position: absolute;
    z-index: 102;
    transform: scale(8);
    color: white;
    top: 50%;
    opacity: 0.2;
    cursor: pointer;
    transition: 1s;
}

.open-image i:hover{
    opacity: 0.3;
}

.left-arrow{
    left:5%;
}
.right-arrow{
    right:5%;
}

.info-container{
    height: 30%;
    display:flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-flow: row wrap;
    margin: 3em 5em 0 5em;
}
.left-info{
    flex:1;
}
.close-button{
    background: none;
    border: none;
    cursor: pointer;;
    flex:1;
    color: blanchedalmond;
    position: relative;
    margin: 2em;
    /* transform: translateX(-50%) scale(0.5, 0.5); */
    /* left: 17%; */
    
    font-size: 2em;
    letter-spacing: 0.2em;
    font-style: italic;
    font-weight: 600;
}
.sales-info{
    background: rgb(158, 131, 80);
    background: linear-gradient(90deg, rgba(242,202,126,0.6671043417366946) 20%, rgba(217,147,61,0.7819502801120448) 94%);
    border-radius: 2em;
    flex:1;
    text-align: center;
    
    color: blanchedalmond;
}
.sales-info h2{
    font-size: 2em;
    letter-spacing: 0.1em;
    font-weight: 700;
}
.sales-info p{
   padding: 0 2em 0 2em;
}

.back-button {
    position: relative;
    border: none;
    font-size: 2em;
    padding-left: 2em;
    padding-top: 2em;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}
.back-button h2{
    text-decoration: none;

}
@media screen and (max-width: 1000px){
  .image-list{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    position: relative;
  }
  .hover-album{
      opacity: 0.7;
  }
  .full-album{
      margin: 0;
      width: 100%;
      overflow: hidden;
  }
  .full-album img{
      width: 100%;
      height: auto;
      padding: 0;
  }
  .individual-picture img{
    width: 100%;
  }
      
  .full-album .image-list{
      
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
      grid-gap: 9px 10px;
      position: relative;
      transition: 3s;
  }
}
@media screen and (max-width: 415px){
  .full-album img{
    width: 414px;
  }
}
@media screen and (max-width: 375px){

    .image-list{
      margin: 0;
      padding: 0;
    }
    .hover-album{
        opacity: 0.7;
    }
    .full-album{
        margin: 0;
        width: 100%;
        /* overflow: hidden; */
    }
    .full-album img{
        width: 375px;
        height: auto;
        padding: 0;
    }
    
        
    .full-album .image-list{
        
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        grid-gap: 9px 10px;
        position: relative;
        transition: 3s;
    }

}


/* ------------------------Home------------------------ */
.home-page{
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;

}

.home-content{
    width: 100%;
    height: 100vh;
}

.first-container{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 100%;
    padding: 5em;

}
.first-container-img{
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    shape-outside: circle();
    margin-right: 3rem;
    -webkit-shape-outside:circle();
    float: left;

}
    
    
.first-container img{
    width: auto;
    height: 100%;
    margin-left: -80px;
    float: left;

}
    
.first-container-text{
    position: relative;
    width: 35%;
    height:100%;
    float:left;
    top: 6.5em;
    
}
.welcome{
    text-align: left;
    align-items: center;
    height: 14vh;
}
.welcome h2{
    font-size: 2.5em;
    font-weight: 500;
}
.text{
    font-size: 1.2em;
    line-height: 1.7em;
    padding: 1em;
}
    

.link{
    text-align: left;
    padding-top: 2em;
}
.link a{
    text-decoration: none;
    color: #8b796c;
    font-size: 1.4em;
    font-style: italic;
    font-weight: 500;
}
   
.second-container{
    position: relative;
    margin: 30em 0 0 0;
}

@media screen and (max-width: 1000px){
  .slider{
    height: 35vh;
}

.first-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    padding: 1em;

}
.first-container-img{
    display: inline-block;
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    shape-outside: circle();
    margin-right: 1rem;
    -webkit-shape-outside:circle();
}
    
    
.first-container img{
    width: auto;
    height: 100%;
    margin-left: -80px;
    float: left;
}
    
.first-container-text{
    position: relative;
    width: 100%;
    height:100%;
    top: 18.5em;
    padding: 2em;
}
.welcome{
    text-align: center;
    align-items: center;
    height: 14vh;
}
.welcome h2{
    font-size: 2.5em;
    font-weight: 500;
}
.text{
    font-size: 1.2em;
    line-height: 1.7em;
    padding: 1em;
}
    

.link{
    text-align: center;
    padding-top: 2em;
}
.link a{
    text-decoration: none;
    color: #8b796c;
    font-size: 1.4em;
    font-style: italic;
    font-weight: 500;
}
.footer{
    display: none;
}
}

@media screen and (max-width: 1067px){
    .slider{
        height: 35vh;
    }

    .first-container{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: start;
        width: 100%;
        height: 130vh;
        padding: 1em;
        padding-top: 4em;

    
    }
    .first-container-img{
        display: inline-block;
        position: absolute;
        overflow: hidden;
        border-radius: 50%;
        width: 350px;
        height: 350px;
        shape-outside: circle();
        margin-right: 1rem;
        -webkit-shape-outside:circle();
        
        
    
    }
        
        
    .first-container img{
        width: auto;
        height: 100%;
        margin-left: -80px;
        float: left;
    }
        
    .first-container-text{
        position: relative;
        width: 100%;
        height:100%;
        top: 26.5em;
        padding: 2em;
    }
    .welcome{
        text-align: center;
        align-items: center;
        height: 14vh;
    }
    .welcome h2{
        font-size: 3.5em;
        font-weight: 500;
    }
    .text{
        font-size: 2.2em;
        line-height: 1.7em;
        padding: 1em;
    }
        
    
    .link{
        text-align: center;
        padding-top: 2em;
    }
    .link a{
        text-decoration: none;
        color: #8b796c;
        font-size: 2.4em;
        font-style: italic;
        font-weight: 500;
    }
    .footer{
        display: none;
    }
}
@media screen and (max-width: 967px){
  .first-container{
    height: 200vh;
  }
}
@media screen and (max-width: 415px){
  .first-container{
    height: 200vh;
    
  }
  .welcome h2{
    font-size: 2.5em;
}
  .text{
    font-size: 1.2em;
}
}
@media screen and (max-width: 400px){
  .first-container{
    height: 200vh;
    
  }
  .welcome h2{
    font-size: 2.5em;
}
  .text{
    font-size: 1.2em;
}
}
@media screen and (max-width: 415px) and (max-height:824px){
  .first-container{
    height: 200vh;
  }
}
@media screen and (max-width: 420px) and (max-height:700px){
  .first-container{
    height: 220vh;
  }
}
@media screen and (max-width: 400px) and (max-height:600px){
  .first-container{
    height: 240vh;
  }
  .welcome h2{
    font-size: 2.5em;
}
  .text{
    font-size: 1.1em;
}
.first-container-text{
  padding:0;
}
}
@media screen and (max-width: 361px) and (max-height:641px){
  .first-container{
    height: 250vh;
  }
}




/* ------------------------HomePageBlog------------------------ */
.blog-container-home{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    position: relative;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: 'Montserrat', sans-serif;
    background-color: #333;
    margin-top: 5em;
    padding: 5em 0 5em 0;
    
}

.blog-container-home .blog-card{
    /* margin: 3em;
    max-width: 480px;
    max-height: 560px; */
    margin: 4em 3em 0 3em;
    transform: scale(-0.9) rotate(180deg);

}
.blog-title-home{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.blog-title-home h2{
    transform: translateY(-75%);
    font-size: 3em;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #fff;
    opacity: 0.5;
}
    

@media screen and (max-width: 1068px){
    .blog-container-home{
        display:flex;
        flex-flow: row wrap;
        justify-content: center;
        position: relative;
        /* font-family: Georgia, 'Times New Roman', Times, serif; */
        font-family: 'Montserrat', sans-serif;
        background-color: #242323;
        margin-top: 5em;
        padding: 15em 0 5em 0;
        
    }
    
    .blog-container-home .blog-card{
        /* margin: 3em;
        max-width: 480px;
        max-height: 560px; */
        margin: 2em 4em 0 4em;
        transform: scale(-0.8) rotate(180deg);
        background-color: rgb(221, 221, 221);
    
    }
    .blog-title-home{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }
    .blog-title-home h2{
        transform: translateY(-115%);
        font-size: 3em;
        font-weight: 700;
        letter-spacing: 0.1em;
        color: rgb(233, 233, 233);
        margin-bottom: 1em;
    }
}



  /* ------------------------NavBar------------------------ */
  .nav{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
    
  }
  
  nav{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
    z-index: 1300;
    /* padding: 0 15em 0 15em; */
  }
  .navBar{
  
    position: relative;
    background-color: rgb(235, 235, 235);
  }
    
  
  .logo{
    text-transform: uppercase;
    text-align: center;
    
  }
  .logo a{
    text-decoration: none;
    color: #7a7a7a;
  }
    
  .logo h2{
    font-weight: 500;
    
  }
  .logo h3{
    font-weight: 400;
    font-size: 1.3em;
  }
  
  .nav-links{
    display: flex;
    /* justify-content: space-around; */
    width: 40%;
  }
  .nav-links a{
    text-decoration: none;
    letter-spacing: 3px;
    margin: 2.3em;
    font-weight: 400;
    font-size: 1.3rem;
    color: #7a7a7a;
    
  }
  
  .burger{
    display: none;
    cursor: pointer;
  
  }
  
  .burger div{
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
  }
  .nav-icons{
    position: relative;
    display: flex;
    justify-content: space-between;
    opacity: 0.8;
  }
  .nav-icons svg{
    width: 1.8rem;
    margin: 1rem;

  }
  @media screen and (max-width: 1024px) and (min-width: 1000px){
    .nav-links{
      width: 50%;
    }
    .burger{
      transform: scale(1.5);
    }
  }
  
  @media screen and (max-width: 1024px){
    nav{
      overflow-x: hidden;
      
    }
    .link-container{
      position: absolute;
      right: 0px;
      height: 92vh;
      top: 12vh;
      background-color: rgb(255, 255, 255);
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100%;
      transform: translatex(100%);
      transition: transform 0.5s ease-in;
      z-index: 1000;
     
      /* visibility: hidden; */
    }
    .nav-links{
      position: relative;
      right: 0px;
      height: 92vh;
      top: 9vh;
      background-color: rgb(255, 255, 255);
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      /* transform: translatex(100%); */
      transition: transform 0.5s ease-in;
      overflow-y: hidden;
    }
    .nav-links li{
      opacity: 0;
    }
   
    .burger{
      display: block;
    }
    .nav-icons{
      display: none;
    }
    
  }
  
  
  
  .nav-active{
    transform: translatex(0%);
  }
  .static{
    position: static;
  }
  
  @keyframes navLinkFade{
    from{
      opacity: 0;
      transform: translateX(50px);
    }
    to{
      opacity: 1;
      transform: translateX(0px);
  
    }
  }
  
  .toggle .line1{
      transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line2{
    opacity: 0;
  }
  .toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
  }


  /* ------------------------Slider----------------------- */
  .slider{
    position: relative;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: black;
    overflow: hidden;
}
.slide {
    position: relative;
    min-width: 100%;
    height: 100%;
    transition: 1.5s;
}
.slide img{
    align-self: center;
    height: auto;
    width: 100%;
}

@media screen and (max-width: 1068px){
  .slider{
    height: 49vh;
  }
}
@media screen and (max-width: 420px){
  .slider{
    height: 38vh;
  }
}
@media screen and (max-width: 400px){
  .slider{
    height: 30vh;
  }
}
@media screen and (max-width: 420px) and (max-height:824px){
  .slider{
    height: 38vh;
  }
}
@media screen and (max-width: 412px) and (max-height:824px){
  .slider{
    height: 32vh;
  }
}
@media screen and (max-width: 400px) and (max-height:813px){
  .slider{
    height: 31vh;
  }
}
@media screen and (max-width: 400px) and (max-height:700px){
  .slider{
    height: 36vh;
  }
}



    /* ------------------------SlideShow------------------------ */

    .whole-slide-show{
        position: relative;
        height: 100%;
    }
    .slide-show{
        position: relative;
        height: 100vh;
        text-align: center;
        margin-top: 3em;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 200;
        
    }
    .slide-show i{
        transform: scale(4);
        margin: 3em;
        color: rgb(180, 180, 180);
        cursor: pointer;
        z-index: 900;
    }
    
    
    .left-arrow i{
        position:absolute;
        left: 0px;
    }
    .right-arrow i{
        position:absolute;
        right: 0px;
    }
    
    .close-button{
      position: absolute;
      top: 0;
      right: 0;
      transform: translateY(-90%) translateX(30%);
      
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    }

    .close-button button{
      border: none;
      width: 5em;
      height: 2.5em;
      text-align: center;
      background-color:#333;
      color: #949494;
      border: 2px solid #504f4f;
      flex: 2;

    }
    
        
    .picture-container{
        position: relative;
        margin-top: 17em;
        margin-bottom: 8em;
        align-items: center;
        height: 45em;
        width: auto;
        flex: 1;
        
        
    
    }
    .picture-container i{
        transform: scale(2);
        margin: 0em;
        position: absolute;
        top: 4;
        right: 4;
        opacity: 0.7;
    }
    .picture-container img{
        position: relative;
        max-width: 100%;
        max-height: 100%;
    }
    
    .picture-info{
        font-family: 'Montserrat', sans-serif;
        position: relative;
        /* background-color: rgb(13, 13, 13); */
        background-color:#333;
        position: relative;
        color: #fff;
        width: 100%;
        height: 30%;
        text-align: center;
        white-space: pre-line;
        line-height: 1.5em;
        padding-top: 3em;
        /* top: 5em; */
        margin-bottom: 10em;
        z-index: 900;
        
    }
    .picture-info-box{
        position: relative;
        background-color:#333;
        width: 40%;
        left: 25%;
        border-radius: 0%;
        left: 50%;
        transform: translate(-50%);
        padding-bottom: 2em;
        /* border:2px solid #fff; */
        /* outline: 1px solid #fff; */
        /* outline-offset: -10px; */
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    }
    
    .picture-info-box h2{
        padding: 1em 0 1em 0;
        font-weight: 600;
        font-size: 2.3em;

        color: #fff;
        margin: 1em 2em 1em 2em;
        /* outline: 2px solid #d6b7a1; */
        /* outline-offset: -10px; */
        opacity: 0.5;

    }
    
    .picture-info-box p{
        font-size: 1.2em;
        font-weight: 400;
        opacity: 0.5;
        
    }
    
    
    .picture-info-box a{
        font-size: 1.4em;
        font-weight: 300;
        /* margin: 2em 0 4em 0; */
        /* padding-top: 2em; */
        color: #be7d4e;
    }
    
    
    @media screen and (max-width: 768px){
        .whole-slide-show{
            position: relative;
            height: 100%;
            overflow: hidden;
            margin: 0;
        }
        .slide-show{
            position: relative;
            /* height: 40vh; */
            text-align: center;
            margin-top: 1em;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            z-index: 200;
            
        }
        .slide-show i{
            transform: scale(4);
            margin: 3em;
            color: rgb(180, 180, 180);
            cursor: pointer;
            z-index: 900;
            visibility: hidden;
            display: none;
        }
        
        
        .left-arrow i{
            position:absolute;
            left: 0px;
            display: none;
        }
        .right-arrow i{
            position:absolute;
            right: 0px;
            display: none;
        }
        
        .close-button{
          position: absolute;
          top: 0;
          right: 0;
          transform: translateY(-90%) translateX(50%) scale(0.5);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
        }
    
        .close-button button{
          border: none;
          width: 6em;
          height: 3em;
          text-align: center;
          background-color:#333;
          color: #949494;
          border: 2px solid #504f4f
        }
            
        .picture-container{
            position: relative;
            padding: 0em;
            align-items: center;
            height: 100%;
            /* margin-top: 8em; */
            top: -5em;
            transition: 0.5;
            touch-action: none;
          }
            
        .fade-out{
          animation-name: fadeOut;
          animation-duration: 2.2s;
        }

        @keyframes fadeOut {
          0%{
            opacity: 1;
            filter: blur(0);
          }

          50%{
            opacity: 0.1;
            filter: blur(100);
          }

          100%{
            opacity: 1;
            filter: blur(0);
          }

        }
        .fade-inn{
          animation-name: fadeInn;
          animation-duration: .6s;
        }

        @keyframes fadeInn {
          from{
            opacity: 0.1;
            filter: blur(100);

          }

          to{
            opacity: 1;
            filter: blur(0);

          }
        }

        
        .picture-container i{
            transform: scale(2);
            margin: 0em;
            position: absolute;
            top: 4;
            right: 4;
            opacity: 0.7;
            display: none;
        }
        .picture-container img{
            position: relative;
            /* height: 100%; */
            width: 100%;
        
        }
        
        .picture-info{
          font-family: 'Montserrat', sans-serif;
          position: relative;
          /* background-color: rgb(13, 13, 13); */
          background-color:#333;
  
          color: #fff;
          width: 100%;
          height: 30%;
          text-align: center;
          white-space: pre-line;
          line-height: 1.5em;
          padding-top: 1em;
          margin-top: -5em;
          /* margin-bottom: 10em; */
          z-index: 900;
          display: none;
      }
      .picture-info-box{
          position: relative;
          background-color:#333;
          width: 90%;
          left: 25%;
          border-radius: 0%;
          left: 50%;
          transform: translate(-50%);
          /* padding-bottom: 2em; */
          /* border:2px solid #fff; */
          /* outline: 1px solid #fff; */
          /* outline-offset: -10px; */
          box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
      }
      
      .picture-info-box h2{
          padding: 1em 0 1em 0;
          font-weight: 600;
          font-size: 2.3em;
  
          color: #fff;
          margin: 1em 2em 1em 2em;
          /* outline: 2px solid #d6b7a1; */
          /* outline-offset: -10px; */
          opacity: 0.5;
  
      }
      
      .picture-info-box p{
          font-size: 1.2em;
          font-weight: 400;
          opacity: 0.5;
          
      }
      
      
      .picture-info-box a{
          font-size: 1.4em;
          font-weight: 300;
          /* margin: 2em 0 4em 0; */
          /* padding-top: 2em; */
          color: #be7d4e;
      }
      
    }


    ._undefined{
      overflow-x: hidden;
    }
    .overflow-hidden{
      overflow-x: hidden;
    }