.nav{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  
  
}

nav{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 15vh;
  z-index: 300;
  /* padding: 0 15em 0 15em; */
}
.navBar{

  position: relative;
}
  

.logo{
  text-transform: uppercase;
  text-align: center;
  
}
.logo a{
  text-decoration: none;
  color: #7a7a7a;
}
  
.logo h2{
  font-weight: 500;
  
}
.logo h3{
  font-weight: 400;
  font-size: 1.3em;
}

.nav-links{
  display: flex;
  justify-content: space-between;
  width: 40%;
}
.nav-links a{
  text-decoration: none;
  letter-spacing: 3px;
  margin: 1.3em;
  font-weight: 400;
  font-size: 1.3rem;
  color: rgb(104, 104, 104)

}

.burger{
  display: none;
  cursor: pointer;

}

.burger div{
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
  transition: all 0.3s ease;
}
.nav-icons{
  position: relative;
  display: flex;
  justify-content: space-between;
  opacity: 80%;
}
.nav-icons svg{
  width: 1.8rem;
  margin: 1rem;
}
@media screen and (max-width: 1024px){
  .nav-links{
    width: 50%;
  }
}

@media screen and (max-width: 768px){
  nav{
    overflow-x: hidden;
  }
  .link-container{
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 12vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    transform: translatex(100%);
    transition: transform 0.5s ease-in;
    /* overflow-x: hidden; */
    /* visibility: hidden; */
  }
  .nav-links{
    position: relative;
    right: 0px;
    height: 92vh;
    top: 9vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* transform: translatex(100%); */
    transition: transform 0.5s ease-in;
  }
  .nav-links li{
    opacity: 0;
  }
 
  .burger{
    display: block;
  }
  .nav-icons{
    display: none;
  }
}



.nav-active{
  transform: translatex(0%);
}
.static{
  position: static;
}

@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);

  }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px, -6px);
}