.slider{
    position: relative;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: black;
    overflow: hidden;
}
.slide {
    position: relative;
    min-width: 100%;
    height: 100%;
    transition: 1.5s;
}
.slide img{
    align-self: center;
    height: auto;
    width: 100%;
}